
@media (max-width: 1100px) {

    .wrapper {
        flex-direction: column;
    }

    .right-side .content {
        text-align: center;
    }

    .right-side .content .buttons {
        justify-content: center;
    }

    section {
        margin-top: 3rem;
    }

}

@media (max-width: 630px) {

    nav {
        padding: 0 0 0 0.8rem;
    }

    .wrapper .left-side {
        display: none;
    }

    .wrapper .right-side {
        margin-top: 3rem;
    }

    .services div {
        width: 180px;
    }
}

@media (max-width: 410px) {

    nav ul {
        display: none;
    }

    nav .logo {
        width: 100%;
        text-align: center;
    }

    .right-side .content h2 {
        font-size: 2rem;
    }

    .right-side .content p {
        font-size: 0.9rem;
    }

    .right-side .content .buttons {
        flex-direction: column;
    }

    .services div {
        width: 150px;
    }
}

@media (max-width: 330px) {

    .services div {
        width: 120px;
    }
}

@media (max-width: 265px) {

    .services div {
        width: 100px;
    }
}